/* index.css */

body
{
    background-color: black;
    width: 99%;
    height: 100%;
    /* default text color */
    color: #363636;
}

h1, h2, h3
{
    /* Overskrifter */
    font-family: monospace;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    color: #55AA55;
    text-align: center;
}

p
{
    /* Tekst paragrafer */
    font-family: verdana;
    color: white;
}

/*Container class for the #leftSection, #middleSection, #rightSection*/
.coolframe
{
    background-color: black;
    overflow-x: auto;
    overflow-y: auto;

}

/*Container for the #leftSection, #middleSection, #rightSection*/
#subframe
{
    /* float:  left; */
    overflow-y:hidden;
    overflow-x:hidden;	
    position: relative;
}

/*This is the footer and header*/
.inparagraph
{
    /* Tekst-format. */
    font-family: monospace;
    color: #A3A3F6;
    text-align: center;
}

/*Commonstruff for the three sections*/
#leftSection, #middleSection, #rightSection
{
    position: relative;
    float: left;
    display: inline-block;
    height: 100%;
    /*overflow: hidden;*/
}

/* Hover/popup dialogue */
#popup
{
    position: absolute;
    display:  none;
    float: left;

    padding: 10px;
    width:  300px;
    height: auto;
    z-index: 5;
    
    background-color: black;
    border: solid 1px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-color: #002A00;
    color: black;
}

#popupInfo
{
	font-size: 0.75em;
	font-style: italic;
	margin: 0px;
}

/* link */
a
{
    text-decoration:none;
}			

