
/*Below is the leftsection*/
#leftSection
{
    min-width: 200px;
    width: 30%;
    font-size: 16px;    
	font-family:verdana;
	text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    	
}

#leftSection p
{
    margin: 5px 5px 0px 0px;
}

/*The matrix in the background*/
#thematrix
{
    position: relative;
    top: 0; 
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

/*Positioning of the elements above the matrix*/
#codelinesBox, #cpsBox, #clickpowerBox
{
    z-index: 2;
    position: absolute;
    text-align: center;
    width: 97%;
    left: 3%;
}

/*The three counters*/
#codelines, #cps, #clickpower
{
    color: green;
	text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    font-size:1.5em;
	top: -0.8em;
	position:relative;
	
	
}

#codelinesBox
{
    top: 80px;
	
}

#cpsBox
{
    top: 180px;
}

#clickpowerBox
{
    top: 280px;
}

#keyboard
{
    width: 80%;
    top: 400px; 
    left: 8%;
    position: absolute;
    z-index: 3;
}
/*End of leftsection*/
