
/*Below is the leftsection*/
#leftSection
{
    min-width: 360px;
    width: 30%;
    font-size: 16px;       
}

#leftSection p
{
    margin: 5px 5px 0px 0px;
}

/*The matrix in the background*/
#thematrix
{
    position: relative;
    top: 0; 
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

/*Positioning of the elements above the matrix*/
#codelinesBox, #cpsBox, #clickpowerBox
{
    background-color: rgba(0,0,0,0.75);
    z-index: 2;
    position: absolute;
    text-align: center;
    width: 97%;
    min-height: 60px;
    height: 10%;
    left: 3%;
}

/*The three counters*/
#codelines, #cps, #clickpower
{
    color: #55AA55;
}

#codelinesBox
{
    top: 80px;
}

#cpsBox
{
    top: 180px;
}

#clickpowerBox
{
    top: 280px;
}

#keyboard
{
    width: 80%;
    top: 50%; 
    left: 5%;
    position: absolute;
    z-index: 3;
}
/*End of leftsection*/
