
/*Below is the middlesection*/
#middleSection
{
	font-family: verdana;
    min-width: 200px;
    width: 30%;
    z-index: 1;
    color: white;

}

.tab
{
    /*background: url('/img/background.png') repeat;*/
    background-color: black;
    text-align: center;
}

.statsTab   /* .tab p */
{
    display: inline-block;
    position: relative;
    padding: 0px 1em;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    
    background-color: #001700;
    font-size: 24px;
}

#leetProgrammer
{
	display:none;
        position: absolute;
}
/*Menusection*/
#menu
{
    display:none;
    background-color: black;
}

.menuButton
{
    border: 1px groove lightgray;
    font-size: 16px;
}

.menuButton:hover
{
    background-color: gray;
}

.hbar
{
	width: 85%;
	border: 1px solid;
	color: #002700;
}

/* Stats */ 
#statsTitle
{
    font-size: 22px;
    font-weight: bold;
}

td
{
    padding-left: 1em;
    padding-right: 1em; 
    padding-bottom: 1em;
}

#help
{
    display: none;
}


/* achievements */ 
/*#achievement*/
#achievement
{
	margin-left:15px;
}

.achievementDiv
{
	position: relative;
    float: left;
    display: inline-block;
	margin-left: 5px;
}

.achievementPic
{
	opacity: 0.2;
        border: 1px solid darkgray;
}

/*End of middlesection*/

