/* index.css */

body
{
	background-color: black;
	
	/* default text color */
	color: #363636;
}

h1, h2, h3
{
	/* Overskrifter */
	font-family: monospace;
	color: #5555CC;
}

p
{
	/* Tekst paragrafer */
	font-family: monospace;
	color: #A3A3F6;
}

/*Container class for the #leftSection, #middleSection, #rightSection*/
.coolframe
{
	background-color: black;
	overflow-x: auto;
	overflow-y: auto;
}

/*Container for the #leftSection, #middleSection, #rightSection*/
#subframe
{
	/* float:  left; */
	padding: 2%;
    width:96%;
    height:100%;
    position: relative;
}

/*This is the footer and header*/
.inparagraph
{
	/* Tekst-formatering osv. */
	font-family: monospace;
	color: #A3A3F6;
    text-align: center;
}

/*Commonstruff for the three sections*/
#leftSection, #middleSection, #rightSection
{
	position: relative;
	float: left;
	display: inline-block;
    height: 600px;
	/*overflow: hidden;*/
}



/*Below is the leftsection*/
#leftSection
{
	width: 30%;
    font-size: 16px;
    border-right: 3px solid blue;
       
}
/*The three counters*/
#codelines, #cps, #clickpower
{
    color: aqua;
}

/*The matrix in the background*/
#thematrix
{
	position: relative;
	top: 0; 
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
}

/*Positioning of the elements above the matrix*/
#codelinesBox, #cspBox, #clickpowerBox, #keyboard
{
	position: absolute;
	z-index: 3;
	left: 5%;
}

#codelinesBox
{
	top: 10%;
}
#cspBox
{
	top: 20%;
}
#clickpowerBox
{
	top: 30%;
}

#keyboard
{
	top: 50%;
}
/*End of leftsection*/



/*Below is the middlesection*/
#middleSection
{
	width: 20%;
    border-right: 3px solid blue;
    /*border-left: 3px dotted red;*/
    background-color: black;
}

.tab
{
	background-color: black;
}

.tab p
{
	position: relative;
	display: inline-block;
	background-color: #292929;
	margin:0px;
	padding-top: 7px;
	padding-left: 5px;
	padding-right: 5px;
}

/*Menusection*/
#menu
{
	display:none;
	background-color: black;
}

.stats
{

}

/* Stats */ 
#statsTitle
{
    font-size: 20px;
    font-weight: bold;
}
/*End of middlesection*/



/*Below is the rightsection*/
#rightSection
{
	z-index: 1;
	width: 40%;
    margin-right: 0px;
}

.buildingDiv
{
    /*background-color: gray;*/
    border: 3px groove green;
    border-radius: 15px;
    margin-top: 3px;
}
.buildingDisabledDiv
{
    border: 3px groove gray;
    border-radius: 15px;
    margin-top: 3px;
}

.buildingCaption
{
    font-size: 16px;
    color: red;
    padding-left: 5px;
}
/*End of rightsection*/





/*
	Hover/popup dialogue
*/
#popup
{
	position: absolute;
	display:  none;
	
	width:300px;
	z-index: 5;
	background-color: white;
}

