/* index.css */

body
{
	background-color: white;
	
	/* default text color */
	color: #363636;
}

.coolframe
{
	background-color: black;
	overflow-x: auto;
	overflow-y: auto;
}

h1, h2, h3
{
	/* Overskrifter */
	font-family: monospace;
	color: #5555CC;
}

p
{
	/* Tekst paragrafer */
	font-family: monospace;
	color: #5555CC;
}

#subframe
{
	/* float:  left; */
	padding: 2%;
        width:96%;
        height:100%;
        position: relative;
}

.inparagraph
{
	/* Tekst-formatering osv. */
	color: #4444AA;
        text-align: center;
}

#leftSection, #middleSection, #rightSection
{
	position: relative;
	float: left;
	display: inline-block;
        height: 600px;
	/*overflow: hidden;*/
}

/*Below is the leftsection*/
#leftSection
{
	width: 30%;
        font-size: 16px;
        border-right: 3px solid blue;
       
}

#codelines, #cps, #clickpower
{
    color: aqua;
}
/*End of leftsection*/



/*Below is the middlesection*/
#middleSection
{
	width: 20%;
        border-right: 3px solid blue;
        border-left: 3px dotted red;
        background-color: white;
}
/*End of middlesection*/



/*Below is the rightsection*/
#rightSection
{
	width: 40%;
        margin-right: 0px;
}

.upgradeDiv
{
    /*background-color: gray;*/
    border: 3px groove green;
    border-radius: 15px;
    margin-top: 3px;
}

.upgradeCaption
{
    font-size: 16px;
    color: red;
    padding-left: 5px;
}
/*End of rightsection*/


/* Stats */ 
#statsTitle
{
    font-size: 20px;
    font-weight: bold;
}