/*
	index2.css
	
	Grått stilark
*/

body {
	background-color: #323232;
	background-image: none;
	margin: 2%;
}

#hovedside
{
	/* Hoved dokument */
	width: 80%;
	height: 80%;
	margin: auto auto;
	background-color: #666666;
	
	/* Border rundt side */
	border-width: 10px;
	border-style: groove double;
	border-radius: 20px;
	
	border-top-color: #333333;
	border-bottom-color: #333333;
	border-left-color: #222222;
	border-right-color: #222222;
	
	border-top-width: 5px;
	border-bottom-width: 5px;
}

h1, h2, h3
{
	/* Overskrift */
	font-family: monospace;
	font-weight: bolder;
	color: #CCCCCC;
	margin: 20px;
}

#menuframe
{
	/* Meny / navigasjon */
	background-color: #707070;
	margin: 2%;
	border-style: double;
	border-width: 5px;
	border-color: #222222;
	border-radius: 6px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

a
{
	color: #222222;
}
a:visited,a:active
{
	color: #444444;
}
a:hover
{
	color: #5A5A5A;
}

table, th, td
{
	border: 1px solid black;
}

#subframe
{
	/* Side innhold */
	background-color: #707070;
	margin: 2%;
	
	border-style: double;
	border-width: 5px;
	border-color: #222222;
	border-radius: 6px;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 20px;
}

.inparagraph
{
	/* Tekst-formatering osv. */
	margin: 10px;
	color: #333333;
	padding-left: 10px;
}

