
/*Below is the middlesection*/
#middleSection
{
    width: 30%;
    color: white;
    border-left: 15px solid;
    border-right: 15px solid;
    background-color: black;
    /* border image for all browsers except IE */
    border-image: url(icons/border.png) 30 30 round;
    -webkit-border-image: url(icons/border.png) 30 30 round;
    -o-border-image: url(icons/border.png) 30 30 round; 
}

.tab
{
    background-color: black;
    text-align: center;
}

.tab p
{
    display: inline-block;
    position: relative;
    padding: 0px 50px;
    
    background-color: #001700;
    font-size: 24px;
}

/*Menusection*/
#menu
{
    display:none;
    background-color: black;
}

.menuButton
{
    border: 1px groove lightgray;
    font-family: verdana;
    font-size: 16px;
}

.menuButton:hover
{
    background-color: gray;
}

.stats
{

}

/* Stats */ 
#statsTitle
{
    font-size: 22px;
    font-weight: bold;
}

td
{
    padding-left: 1em;
    padding-right: 1em; 
    padding-bottom: 1em;
}
/*End of middlesection*/
