
/*Below is the rightsection*/
#rightSection
{
    min-width: 500px;
    z-index: 2;
    width: 35%;
    
}

.buildingDiv
{
    height: 5.0em ;
    background: url('img/button.png') no-repeat;
    background-size: 100% 100%;
}

.buildingDiv:hover
{
    background-color: rgba(190,190,190,0.25);
}

.buildingDiv img, .buildingDisabledDiv img
{
    float: left;
    padding-top: 2%;
    padding-left: 2%;
}

.buildingDisabledDiv
{
    height: 5.0em ;
    background: url('img/button2.png') no-repeat;
    background-size: 100% 100%;
}

.buildingText
{
    margin-top: 0.2em;
    font-size: 1.5em;
    color: black;
    padding-top: 15px;
    padding-left: 5px;
    text-align: left;
}

.buildingCount
{
        margin-bottom: 0.0em;
	font-size: 2.0em;
	color: black;
	float: right;
	position: relative;
	top: -2.0em;
	left: -10px;
}

.buildingCost
{   
        margin-bottom: 0.0em;
	font-size: 1.5em;
	color: #AAA;
	position: relative;
        top: -1.1em;
	left: 120px;
}

/*End of rightsection*/
