
/*Below is the rightsection*/
#rightSection
{
    z-index: 1;
    width: 35%;
    
}

.buildingDiv
{
    background: url('img/button.png') no-repeat;
    background-size: 100% 100%;
}

.buildingDiv:hover
{
    background-color: rgba(190,190,190,0.25);
}

.buildingDiv img, .buildingDisabledDiv img
{
    float: left;
    padding-top: 2%;
    padding-left: 2%;
}

.buildingDisabledDiv
{
    background: url('img/button2.png') no-repeat;
    background-size: 100% 100%;
}

.buildingText
{
    font-size: 1.5em;
    color: black;
    padding-top: 15px;
    padding-left: 5px;
    text-align: left;
}

.buildingCount
{
	font-size: 2em;
	color: black;
	float: right;
	position: relative;
	top: -2.0em;
	left: -10px;
}

.buildingCost
{
	font-size: 1.5em;
	color: gray;
	position: relative;
	left: 5%;
}

/*End of rightsection*/
