body
{
    background-color: #E8E8E8;
    font-family: "Calibri ligth";
}

div#center
{
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
    background-color: white;
    width: 50%;
    min-width: 500px;
    max-width: 750px;
    min-height: 250px;
}

h1
{
    text-align: center;
    font-size: 3em;
}

aside
{
    position: fixed;
    left: 1%;
    top: 1%;
    background-color: white;
    width: 14%;
    min-width: 200px;
    z-index: 5;
    font-size: 1.1em;
}

.hovedListe
{
    list-style: none;
}

.teknologi
{
    font-size: 0.8em;
}

td
{
    padding-left: 0.5em;
}

.skilleStrek
{
    margin-left: 20%;
    width: 60%;
    height: 4px;
    background-color: lightgray;
}

.opp, .ned
{
    width: 2%;
    height: 2%;
}

.tilToppen
{
    text-align: center;
}

a:link
{
    text-decoration:none;
    color:#000000;
}					

h4
{
    margin-bottom: -15px;
}

a:hover
{
    text-decoration:none;
    color:#1B77E0;
}

a:hover:visited
{
    color:#1B77E0;
}

a:visited
{
    text-decoration:none;
    color:#000000;
}

table
{
    margin-left: auto;
    margin-right: auto;
}

td
{
   
}

#classDiagram
{
    width: 100%;
    margin-bottom: 1em;
}